.dashboard-wrapper {
    display: flex;
    align-items: row;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;

    app-sidebar {
        width: 20%;
        min-width: 200px;
        height: 100dvh;
        border-right: 1px solid rgb(220, 220, 220);
        flex-shrink: 0;
    }

    app-listbar {
        border-right: 1px solid rgb(220, 220, 220);
        width: 30%;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        height: 100dvh;
        overflow: hidden;
        flex-shrink: 0;
    }

    .note-info-col {
        flex: 1;
        overflow: hidden;
    }

    .note-info-welcome {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        img {
            height: 5rem;
        }

        h2 {
            font-size: 1.5rem;
            color: rgb(82, 82, 82);
        }

        p {
            color: rgb(142, 142, 142);
            font-size: 1rem;
        }
    }

    app-customization-modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.footer{
    display: none;
    align-items: center;
    justify-content: center;
    height: 10vh;
    border-top: 1px solid rgb(220, 220, 220);

    .link{
        flex:1;
        border-right: 1px solid rgb(220, 220, 220);
        height: 100%;
        display: flex;
        padding: 0 0.5rem;
        color: black;
        text-decoration: none;
        .wrapper{
            display: flex;
            align-items: center;
            gap: 0.5rem;

            svg{
                height: 2.5rem;
                color: rgb(82, 82, 82);
            }
        }
    }
    .link:last-child {
        border-right: none;
    }
}




@media screen and (max-width: 768px) {
    .dashboard-wrapper {
        height: 90dvh;

        app-sidebar {
            display: none;
        }

        app-listbar {
             height: 90dvh;
        }
    }

    .footer{
    display: flex;
}

}