<main class="dashboard-wrapper">
    <app-sidebar [showCustomization]="showCustomization" (toggleModal)="toggleModal($event)"></app-sidebar>
    <app-listbar></app-listbar>
   @if(!showNoteState) {
     <section class="note-info-welcome">
        <img src="assets/images/note-placeholder.png" alt="note placeholder" />
        <h2>Welcome to Noteworthy</h2>
    <p>
        Select a note to view or edit
    </p>
    </section>
  
   }@else {
       <section class="note-info-col">
            <router-outlet name="info" />
        </section>
   }
    @if (showCustomization) {
    <app-customization-modal [isOpen]="showCustomization" />
    }
</main>